* {
  padding: 0px;
  margin: auto;
}

#Header {
  height: 15%;
  background-color: lightgreen;
}

#Title {
  font-weight: bold;
}

#Navbar {
  background-color: orange;
  width: 100%;
  text-align: center;
}

.NavElement {
  border: solid black 2px;
}

.NavButton {
  border: solid black 2px;
}
